In [8]:
import psycopg2 as pg
import pandas as pd

connection = pg.connect(host='pgsql-196447.vipserv.org', port=5432, dbname='wbauer_adb', user='wbauer_adb', password='adb2020')

categories_count = pd.read_sql('SELECT COUNT(name) from category',con=connection)

print(f'Number of categories\n{categories_count}')

Number of categories
   count
0     16

In [10]:
cat_sorted = pd.read_sql('SELECT name from category ORDER BY name',con=connection)
print(cat_sorted)

           name
0        Action
1     Animation
2      Children
3      Classics
4        Comedy
5   Documentary
6         Drama
7        Family
8       Foreign
9         Games
10       Horror
11        Music
12          New
13       Sci-Fi
14       Sports
15       Travel

In [19]:
oldest = pd.read_sql('SELECT title, release_year from film ORDER BY release_year ASC LIMIT 1',con=connection)
youngest = pd.read_sql('SELECT title, release_year from film ORDER BY release_year DESC LIMIT 1',con=connection)
print(oldest)
print("\n\n")
print(youngest)

             title  release_year
0  Chamber Italian          2006



             title  release_year
0  Chamber Italian          2006